<a href="https://colab.research.google.com/github/tastiz/hello-world/blob/master/df_manipulating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from sqlalchemy import create_engine

postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'baseball'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

import pandas as pd

sql = 'SELECT p.playerid, birthyear, birthcountry, deathyear, namefirst, namelast, weight, height, bats, throws, yearid, teamid, lgid, salary FROM people p join salaries s on p.playerid = s.playerid'

players_df = pd.read_sql_query(sql, con=engine)

engine.dispose()

players_df.head(2)

#no parantheses
players_df.shape

players_df.info()

players_df.describe()

#no parantheses just like .shape function
players_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 14 columns):
playerid        26428 non-null object
birthyear       26428 non-null int64
birthcountry    26428 non-null object
deathyear       492 non-null float64
namefirst       26428 non-null object
namelast        26428 non-null object
weight          26428 non-null int64
height          26428 non-null int64
bats            26428 non-null object
throws          26428 non-null object
yearid          26428 non-null int64
teamid          26428 non-null object
lgid            26428 non-null object
salary          26428 non-null int64
dtypes: float64(1), int64(5), object(8)
memory usage: 2.8+ MB

Index(['playerid', 'birthyear', 'birthcountry', 'deathyear', 'namefirst',
       'namelast', 'weight', 'height', 'bats', 'throws', 'yearid', 'teamid',
       'lgid', 'salary'],
      dtype='object')

SELECT p.playerid, birthyear, birthcountry, deathyear, namefirst, namelast, weight, height, bats, throws, yearid, teamid, lgid, salary 
FROM people p 
join salaries s on p.playerid = s.playerid'