<a href="https://colab.research.google.com/github/tastiz/hello-world/blob/master/pandas_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Finds the baby names of New York, returning schema as well as first five rows

In [0]:
import pandas as pd

df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/nyc_baby_names.csv')
df.info()
df.head()

Takes a list of political tweets in a json file adn returns the schema and first five rows

In [0]:
tweets_df = pd.read_json('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/tweets.json')
tweets_df.info()
tweets_df.head()

Accessed the department of education's database requesting the finance table, returning the schema as well as first 2 rows

In [0]:
def printDataFrame(df):
  print('The shape of this DataFrame is {}'.format(df.shape))
  print('The columns in this DataFrame are {}'.format(df.columns))
  print('The info:')
  print(df.info())

from sqlalchemy import create_engine

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'department_of_education'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

finance_df = pd.read_sql_table('finance', con=engine)

engine.dispose()

printDataFrame(finance_df)
finance_df.head(2)