<a href="https://colab.research.google.com/github/tastiz/hello-world/blob/master/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

ages = pd.Series(np.array([3, 4, 67, 89, 67,24,35]))
print(ages)

age_array = np.array([50, 51, 39, 38, 124, 2013, 45, 1768, 98])
names_list = ['Sam', 'Frodo', 'Merry', 'Bouncy', 'Spike', 'Fluffer', 'Boomer', 'Hero', 'Goober']

goober_gang = pd.Series(age_array, index=names_list)

print(goober_gang)

0     3
1     4
2    67
3    89
4    67
5    24
6    35
dtype: int64
Sam          50
Frodo        51
Merry        39
Bouncy       38
Spike       124
Fluffer    2013
Boomer       45
Hero       1768
Goober       98
dtype: int64