<a href="https://colab.research.google.com/github/tastiz/hello-world/blob/master/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

ages = pd.Series(np.array([3, 4, 67, 89, 67,24,35]))
#print(ages)

age_array = np.array([50, 51, 39, 38, 124, 2013, 45, 1768, 98])
names_list = ['Sam', 'Frodo', 'Merry', 'Bouncy', 'Spike', 'Fluffer', 'Boomer', 'Hero', 'Goober']

goober_gang = pd.Series(age_array, index=names_list)

#print(goober_gang)

teams = {
    'Ducks': 100,
    'Cardinals': 3,
    'Huskies': 45,
    'Beavers': 78,
    'Bears': 68
}

standings = pd.Series(teams)

#Gives an overall analysis including count, mean, std, min and max
#print(standings.describe())

In [18]:
import pandas as pd
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/songs.csv')

#overal info about a csv and its genearl schema
#df.info
#returns column names
#df.columns
#returns datatypes found in each colmn
#df.dtypes
#returns the dimensions of the table
#df.shape
#returns the first five rows or enter the amount of rows wished to be returned
#df.head
#returns the last five rows or enter the amount of rows wished to be returned
#df.tail

<bound method NDFrame.tail of                                        Song Clean ARTIST CLEAN  ... PlayCount  F*G
0                                Caught Up in You  .38 Special  ...        82   82
1                                    Fantasy Girl  .38 Special  ...         3    0
2                                 Hold On Loosely  .38 Special  ...        85   85
3                          Rockin' Into the Night  .38 Special  ...        18   18
4                               Art For Arts Sake         10cc  ...         1    1
...                                           ...          ...  ...       ...  ...
2224                      She Loves My Automobile       ZZ Top  ...         1    0
2225                            Tube Snake Boogie       ZZ Top  ...        32   32
2226                                         Tush       ZZ Top  ...       109  109
2227                                   TV Dinners       ZZ Top  ...         1    1
2228  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO       ZZ Top  ...         2    2

[2229 rows x 8 columns]>