<a href="https://colab.research.google.com/github/tastiz/hello-world/blob/master/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

ages = pd.Series(np.array([3, 4, 67, 89, 67,24,35]))
#print(ages)

age_array = np.array([50, 51, 39, 38, 124, 2013, 45, 1768, 98])
names_list = ['Sam', 'Frodo', 'Merry', 'Bouncy', 'Spike', 'Fluffer', 'Boomer', 'Hero', 'Goober']

goober_gang = pd.Series(age_array, index=names_list)

#print(goober_gang)

teams = {
    'Ducks': 100,
    'Cardinals': 3,
    'Huskies': 45,
    'Beavers': 78,
    'Bears': 68
}

standings = pd.Series(teams)

#Gives an overall analysis including count, mean, std, min and max
#print(standings.describe())

In [0]:
import pandas as pd
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/songs.csv')

#overal info about a csv and its genearl schema
#df.info
#returns column names
#df.columns
#returns datatypes found in each colmn
#df.dtypes
#returns the dimensions of the table
#df.shape
#returns the first five rows or enter the amount of rows wished to be returned
#df.head
#returns the last five rows or enter the amount of rows wished to be returned
#df.tail

In [0]:
def printDataFrame(df):
  print('The shape of this DataFrame is {}'.format(df.shape))
  print('The columns in this DataFrame are {}'.format(df.columns))
  print('The info:')
  print(df.info())

printDataFrame(df)
print(df.head(2))

In [0]:
# Define a list of column labels
columns = ['club', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts']

# Define rows
rows = [
    ['Man. City', 29, 23, 2, 4, 76, 20, 56, 71],
    ['Liverpool', 29, 21, 7, 1, 64, 15, 49, 70],
    ['Tottenham', 29, 20, 1, 8, 56, 30, 26, 61],
    ['Man U', 29, 17, 7, 5, 58, 38, 20, 58],
    ['Arsenal', 29, 17, 6, 6, 61, 39, 22, 57]
]

league_df = pd.DataFrame(data=rows, columns=columns)

printDataFrame(league_df)
league_df.head(2)

In [0]:
# creates the table in a single variable as compared the above
league_dict = {
    'club' : ['Man. City', 'Liverpool', 'Tottenham', 'Man U', 'Arsenal'],
    'MP' : [29, 29, 29, 29, 29],
    'W' : [23, 21, 20, 17, 17],
    'D' : [2, 7, 1, 7, 6],
    'L' : [4, 1, 8, 5, 6],
    'GF' : [76, 64, 56, 38, 39],
    'GA' : [20, 15, 30, 20, 39],
    'GD' : [56, 49, 26, 20, 22],
    'Pts' : [71, 70, 61, 58, 57]
}

league_df = pd.DataFrame(league_dict)

printDataFrame(league_df)
league_df.head(2)