<a href="https://colab.research.google.com/github/tastiz/hello-world/blob/master/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

ages = pd.Series(np.array([3, 4, 67, 89, 67,24,35]))
#print(ages)

age_array = np.array([50, 51, 39, 38, 124, 2013, 45, 1768, 98])
names_list = ['Sam', 'Frodo', 'Merry', 'Bouncy', 'Spike', 'Fluffer', 'Boomer', 'Hero', 'Goober']

goober_gang = pd.Series(age_array, index=names_list)

#print(goober_gang)

teams = {
    'Ducks': 100,
    'Cardinals': 3,
    'Huskies': 45,
    'Beavers': 78,
    'Bears': 68
}

standings = pd.Series(teams)

#Gives an overall analysis including count, mean, std, min and max
#print(standings.describe())

In [0]:
import pandas as pd
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/songs.csv')

#overal info about a csv and its genearl schema
#df.info
#returns column names
#df.columns
#returns datatypes found in each colmn
#df.dtypes
#returns the dimensions of the table
#df.shape
#returns the first five rows or enter the amount of rows wished to be returned
#df.head
#returns the last five rows or enter the amount of rows wished to be returned
#df.tail

In [20]:
def printDataFrame(df):
  print('The shape of this DataFrame is {}'.format(df.shape))
  print('The columns in this DataFrame are {}'.format(df.columns))
  print('The info:')
  print(df.info())

printDataFrame(df)
print(df.head(2))

The shape of this DataFrame is (2229, 8)
The columns in this DataFrame are Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')
The info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 8 columns):
Song Clean      2229 non-null object
ARTIST CLEAN    2229 non-null object
Release Year    1652 non-null object
COMBINED        2229 non-null object
First?          2229 non-null int64
Year?           2229 non-null int64
PlayCount       2229 non-null int64
F*G             2229 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.4+ KB
None
         Song Clean ARTIST CLEAN Release Year  ... Year?  PlayCount  F*G
0  Caught Up in You  .38 Special         1982  ...     1         82   82
1      Fantasy Girl  .38 Special          NaN  ...     0          3    0

[2 rows x 8 columns]